<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Air Temp Prediction</title>
</head>
<body align="center" style="background-color: #5499C7;">
    <h1>Machine Air Temp Prediction </h1>

    <form action="/pred" method="POST">
    Process temperature:
        <input type="text" name="Process_temperature"><br><br>
    Rotational speed:
        <input type="text" name="Rotational_speed"><br><br>
    Torque:
        <input type="text" name="Torque"><br><br>
    Tool wear:
        <input type="text" name="Tool_wear"><br><br>
    Machine failure:
        <input type="text" name="Machine_failure"><br><br>
    TWF:
        <input type="text" name="TWF"><br><br>
    HDF:
        <input type="text" name="HDF"><br><br>
    PWF:
        <input type="text" name="PWF"><br><br>
    OSF:
        <input type="text" name="OSF"><br><br>
    RNF:
        <input type="text" name="RNF">
        <br><br>
        <button type="submit" value="Submit"> Submit </button>
    </form>

</body>
</html>